@charset "utf-8";

/* ****font************************************************ */
/* 
한글
font-family: "Noto Sans KR", sans-serif;
font-weight: 100~900; 

영어
font-family: "Lato", sans-serif;
font-weight: 100|300|400|700;
*/

/* banner******************************************************************* */
section .banner {
    width: 100%;
    height: 550px;
    position: relative;
    overflow: hidden;
    margin-bottom: 120px;
}
section .banner img {
    height: 100%;
}
section .banner h2 {
    font-size: 48px;
    color: #f5f5f2;
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}
article.container {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
section article h3 {
    font-size: 34px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    margin-bottom: 40px;
}
.con {
    width: 100%;
    overflow-x: hidden;
}
.list-wrap {
    width: 200%;
}
.list-wrap .list-box {
    float: left;
    width: 11.62%;
    margin-bottom: 40px;
    border: 1px solid #B5C1BA;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    height: 600px;
    margin-right: 1%;
}
.list-wrap .list-box:last-child {
    margin-right:0;
}

.list-wrap .list-box > img {
    width: 100%;
    margin-bottom: 24px;
}

.list-wrap .list-box .list-des {
    padding: 0 10px;
}
.list-wrap .list-box .list-des h4 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 30px;
    height:50px;
}
section article .list-box .list-des p {
    font-size: 18px;
    margin-bottom: 18px;
    background-repeat: no-repeat;
    padding-left: 34px;    
}
.list-des .time {background-image: url(../img/time.png);}
.list-des .local {background-image: url(../img/local.png);}
.list-des .menu {background-image: url(../img/menu.png);}
.list-des .inquiry {background-image: url(../img/inquiry.png);}

section article.restaurant {
    margin-bottom: 60px;
}
section article.restaurant a {
    color: #6C7A6D;
    font-size: 18px;
}
section article.restaurant a:hover {
    text-decoration: underline;
} 
section article.cafe-pub {
    margin-bottom: 120px;
}

button {
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    cursor: pointer;
}
button img {
    height: 100%;
}
.prev {left: -8%;}
.next {right: -8%;}