@charset "utf-8";

/* ****font************************************************ */
/* 
한글
font-family: "Noto Sans KR", sans-serif;
font-weight: 100~900; 

영어
font-family: "Lato", sans-serif;
font-weight: 100|300|400|700;
*/

/* ********************************************************************** */
section article {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
section article.banner {
    max-width: none;
    height: 550px;
    position: relative;
    overflow: hidden;
    margin-bottom: 100px;
}
section .banner img {
    width: 100%;
    object-fit: cover;
}
section .banner h2 {
    font-size: 48px;
    color: #f5f5f2;
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}

section article h3 {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 40px;
}
section article .list-box {
    float: left;
    width: 32%;
    margin-bottom: 40px;
    border: 1px solid #B5C1BA;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}
section article .list-box~.list-box {
    margin-left: 2%;
}
section article .list-box:nth-child(5) {
    margin-left: 0;
}
section article .list-box > img {
    width: 100%;
    margin-bottom: 40px;
}

section article .list-box .list-des {
    padding: 0 10px;
    word-break: keep-all;
}
section article .list-box .list-des h4 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}
section article .list-box .list-des p {
    font-size: 18px;
    margin-bottom: 18px;
    background-repeat: no-repeat;
}
.list-des p~p {
    padding-left: 30px;    
}
.list-des .time {background-image: url(../img/time.png);}
.list-des .local {background-image: url(../img/local.png);}
.list-des .inquiry {background-image: url(../img/inquiry.png);}

section .convenience-spa {
    margin-bottom: 60px;
}
section .convenience-sauna {
    margin-bottom: 120px;
}