@charset "utf-8";

/* ***common.css************************************************* */
.clear::after {
    content: "";
    display: block;
    clear: both;
}

.inner {
    width: calc(100% - 200px);
    margin: 0 auto;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    color: #3E3E3B;
}
