@charset "UTF-8";

/* headr************************************************* */
header {
    width: 100%;
    height: 120px;
    
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}
header .inner {
    height: 100%;
}
header h1.logo {
    float: left;
    padding-left: 20px;
}
header .logo a img {
    height: 80px;
    display: block;
    margin-top: 26px;
}

header .gnb {
    float: right;
}
header .gnb > ul > li {
<<<<<<< Updated upstream
    position: relative;
}

header .gnb > ul > li~li {
    margin-left: 20px;
}

header .gnb > ul > li > a {
    line-height: 120px;
=======
    margin-top: 50px;
    position: relative;
}
header .gnb > ul > li > a {
>>>>>>> Stashed changes
    font-size: 18px;
    font-weight: 600;
    color: #f5f5f2;
    display: block;
    padding: 0 20px;
}

header .gnb > ul > li > a:hover {
    text-decoration: underline;
}


/* sub-menu***************************************************************** */
header .gnb ul li .sub-menu {
    position: absolute;
<<<<<<< Updated upstream
    left: 50%;
    top: 82px;
    transform: translateX(-50%);
    width: 100%;
=======
    top: 70px;
    width: 100%;
    height: 50%;
>>>>>>> Stashed changes
    display: none;
}
header .gnb .sub-menu li {
    text-align: center;
    display: block;
    margin-bottom: 10px;
}
header .gnb .sub-menu li a {
    color: #f5f5f2;
    font-size: 18px;
    font-weight: 400;
    display: block;
<<<<<<< Updated upstream
    width: 100%;
    font-weight: 500;
    line-height: 2;
=======
>>>>>>> Stashed changes
}