@charset "utf-8";

/* ****font************************************************ */
/* 
한글
font-family: "Noto Sans KR", sans-serif;
font-weight: 100~900; 

영어
font-family: "Lato", sans-serif;
font-weight: 100|300|400|700;
*/

/* **한페이지 구현******************************** */
html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* 스크롤바 없애기 */
}

/* section******************************************** */
section {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* intro******************************* */
section.intro {
    background: url(../img/main.jpg) no-repeat;
    background-size: cover;
}

section.intro .intro-con {
    text-align: center;
    color: #F5F5F2;
    padding-top: 200px;
}

.intro-con h2 {
    /* font-size: 40px; */
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}

.intro-con .txt-box p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: -1px;
    opacity: 0.8;
}

/* report************************ */
section.report {
    background-color: #F5F5F2;
    position: relative;
    overflow: hidden;
}
.report .report-box {
    font-weight: 400;
}
.report-box .report-img {
    width: 50%;
    float: left;
}
.report-box .report-img img {
    width: 100%;
    display: block;
}
.report-box .des-box {
    width: 50%;
    float: right;
    position: absolute;
    top: 50%;
    transform: translateY(-20%);
    right: -50px;
    color: #6C7A6D;
}

.des-box h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 80px;
}
.des-box p {
    line-height: 2.5rem;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 80px;
}


/* *amenitie*************************************** */

section.amenitie {
    background: url(../img/calmomentree1.jpg) no-repeat;
    background-size: cover;
}

section.amenitie .amenitie-des {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.amenitie-des .des-box {
    color: #F5F5F2;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.amenitie-des h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
}

.amenitie-des p {
    font-size: 22px;
    line-height: 1.6rem;
    margin-bottom: 30px;
    font-weight: 500;
    color: rgba(255,255,255,0.9);
}

/* *trekking*************************************************/
section.trekking {
    overflow: hidden;
}
section.trekking .trekking-cos {
    text-align: center;
}

.trekking-cos .cos {
    float: left;
    width: 33.3%;
    position: relative;
    overflow: hidden;
}
.trekking-cos .cos::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.trekking-cos .cos img {
    display: block;
    width: 100%;
    transition: all 0.5s;
}

.trekking-cos .cos .cos-des {
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);  
    z-index: 1;
    color: rgba(255, 255, 255, 0.9);
    transition: opacity 0.5s;
}

/* hover효과 */
.trekking-cos .cos:hover img {
    transform: scale(1.2);
}
.trekking-cos .cos:hover .cos-des p {
    opacity: 1;
}
.trekking-cos .cos .cos-des h2 {
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
}
.trekking-cos .cos .cos-des h2 span {
    display: block;
    font-size: 20px;
    font-weight: 400;
    color: rgba(255,255,255,0.7);
}

.trekking-cos .cos .cos-des p {
    font-weight: 400;
    font-size: 20px;
    opacity: 0;
}

/* *location *********************************/

section.location {
    padding-top: 180px;
    background-color: #F5F5F2;
}

.location article {
    width: 1280px;
    margin: 0 auto;
}

section.location .map h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #6C7A6D;
}
section.location .map h2 span {
    font-size: 20px;
    color: #999;
    font-weight: 400;
    padding-left: 40px;
}

section.location iframe {
    width: 1280px;
    height: 400px;
    margin: 0 auto;
    border: none;
    margin-bottom: 60px;
}

.location-des .addres {
    margin-bottom: 50px;
    color: #999;
    font-size: 20px;
}

.location-des .traffic {
    text-align: center;
}

.location-des .traffic img {
    margin-bottom: 20px;
    display: inline-block;
}

.location-des .traffic p {
    margin-bottom: 60px;
    font-size: 20px;
}

.location-des .traffic a {
    display: inline-block;
    color: #6C7A6D;
    border: 2px solid #6C7A6D;
    border-radius: 10px;
    padding: 6px 12px;
    margin: 0 10px;
    font-size: 18px;
}

.location-des .traffic a:hover {
    background-color: #6C7A6D;
    color: #F5F5F2;
}

.location-des .traffic .traffic-box {
    float: left;
    width: 50%;
}

