@charset "utf-8";

/* ****font************************************************ */
/* 
한글
font-family: "Noto Sans KR", sans-serif;
font-weight: 100~900; 

영어
font-family: "Lato", sans-serif;
font-weight: 100|300|400|700;
*/

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #F5F5F2;
}
/* 메뉴 바꾸기 */
header .gnb > ul > li > a {
    color: #3E3E3B;
}
header .gnb > ul > li .sub-menu a {
    color: #3E3E3B;
}

section {
    width: 100%;
    height: 100%;
    padding-top: 180px;
    box-sizing: border-box;
}

/* sauna-main ************************************ */
.sauna-main .main-des {
    position: relative;
    width: 100%;
    height: 100%;
}

.sauna-main .main-des h2.txt-en {
    font-size: 96px;
    color: #7E6A58;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    position: absolute;
    left: 10%;
    letter-spacing: 2px;
}

.sauna-main .main-des .des {
    position: absolute;
    left: 12%;
    bottom: 18%;
    z-index: 100;
}

.sauna-main .main-des .des h2.txt-ko {
    font-size: 40px;
    color: #6C7A6D;
    font-weight: 600;
    margin-bottom: 30px;
}

.sauna-main .main-des .des p {
    font-size: 20px;
    font-weight: 400;
}

.sauna-main .main-des .imgs img {
    position: absolute;
    right: 4%;
    top: 13%;
}

.sauna-main .main-des .imgs img:first-child {
    right: 40%;
    top: 18%;
}

/* spa-list****************************************************** */
.sauna-list {
    position: relative;
}

.sauna-list .wrap-box {
    width: 100%;
    position: relative;
    left: 0;
}

.sauna-list .sauna-box {
    width: 23%;
    float: left;
    margin-top: 80px;
}

.sauna-list .sauna-box {
    margin: 0 1%;
}

.sauna-list .sauna-box img {
    width: 100%;
    margin-bottom: 40px;
}

.sauna-list .sauna-box .sauna-des {
    padding: 0 10px;
    word-break: keep-all;
}

.sauna-list .sauna-box .sauna-des h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #6C7A6D;
}

.sauna-list .sauna-box .sauna-des p {
    font-size: 18px;
    font-weight: 400;
}