@charset "utf-8";

/* ****font************************************************ */
/* 
한글
font-family: "Noto Sans KR", sans-serif;
font-weight: 100~900; 

영어
font-family: "Lato", sans-serif;
font-weight: 100|300|400|700;
*/

html, body {
    width: 100%;
    height: 100%;
}
body {
    background-color: #F5F5F2;
}

section {
    width: 100%;
    height: 100%;
    padding-top: 180px;
    box-sizing: border-box;
    overflow: hidden; /* 스크롤 구현 */
}

/* sauna-main ************************************ */
.sauna-main {
    background-image: url(../img/sauna-mainsmall.jpg),url(../img/sauna-mainbig.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: 46% 46%, 90% 78%;
    /* position: relative; */
}
.sauna-main .main-des h2.txt-en {
    font-size: 96px;
    color: #7E6A58;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    transform: translateX(10%);
    letter-spacing: 2px;
}
.sauna-main .main-des .des {
    /* position: absolute;
    left: 20%;
    bottom: 18%; */
    transform: translate(20%, 200%);
}
.sauna-main .main-des .des h2.txt-ko {
    font-size: 40px;
    color: #6C7A6D;
    font-weight: 600;
    margin-bottom: 30px;
}
.sauna-main .main-des .des p {
    font-size: 20px;
    font-weight: 400;
}


/* spa-list****************************************************** */
.sauna-list {
    position: relative;
}
.sauna-list .wrap-box {
    width: 100%;
    position: absolute;
    right: -50%;
}
.sauna-list .sauna-box  {
    width: 23.5%;
    float: left;
    margin-top: 80px;
}
.sauna-list .sauna-box~.sauna-box {
    margin-left: 2%;
}
.sauna-list .sauna-box img {
    width: 100%;
    margin-bottom: 40px;
}
.sauna-list .sauna-box .sauna-des  {
    padding: 0 10px;
    word-break: keep-all;
}
.sauna-list .sauna-box .sauna-des h3 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #6C7A6D;
}
.sauna-list .sauna-box .sauna-des p {
    font-size: 18px;
    font-weight: 400;
}