@charset "utf-8";

/* ****font************************************************ */
/* 
한글
font-family: "Noto Sans KR", sans-serif;
font-weight: 100~900; 

영어
font-family: "Lato", sans-serif;
font-weight: 100|300|400|700;
*/

html, body {
    width: 100%;
    height: 100%;
}
body {
    background-color: #F5F5F2;
}

section {
    width: 100%;
    height: 100%;
    padding-top: 180px;
    box-sizing: border-box;
}

/* spa-main ************************************ */
.spa-main {
    position: relative;
}
.spa-main .main-des h2.txt-en {
    font-size: 96px;
    color: #7E6A58;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    transform: translateX(10%);
    letter-spacing: 2px;
}
.spa-main .main-des .des {
    position: absolute;
    left: 20%;
    bottom: 18%;
}
.spa-main .main-des .des h2.txt-ko {
    font-size: 40px;
    color: #6C7A6D;
    font-weight: 500;
    margin-bottom: 30px;
}
.spa-main .main-des .des p {
    font-size: 20px;
}

.spa-main .main-des .imgs img {
    position: absolute;
    right: 4%;
    top: 24%;
    display: inline-block;
    display: none;
}
.spa-main .main-des .imgs img:first-child {
    right: 40%;
    top: 30%;
}

/* spa-list****************************************************** */
.spa-list {
    position: relative;
}
.spa-list .wrap-box {
    width: 100%;
    position: absolute;
    right: -50%;
    outline: 2px solid blue;
}
.spa-list .spa-box  {
    width: 23.5%;
    float: left;
    margin-top: 80px;
}
.spa-list .spa-box~.spa-box {
    margin-left: 2%;
}
.spa-list .spa-box img {
    width: 100%;
    margin-bottom: 40px;
}
.spa-list .spa-box .spa-des  {
    padding: 0 10px;
    word-break: keep-all;
}
.spa-list .spa-box .spa-des h3 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #6C7A6D;
}
.spa-list .spa-box .spa-des p {
    font-size: 18px;
    font-weight: 300;
}
