@charset "utf-8";

/* ****font************************************************ */
/* 
한글
font-family: "Noto Sans KR", sans-serif;
font-weight: 100~900; 

영어
font-family: "Lato", sans-serif;
font-weight: 100|300|400|700;
*/

header .gnb ul li a {
    color: #f5f5f2;
}
section {
    background-color: #6C7A6D;
    color: #f5f5f2;
    width: 100%;
    margin: 0 auto;
}

section article {
    width: 90%;
    max-width: 1620px;
    margin: 0 auto;
}
section.room-banner {
    width: 100%;
}
section.room-banner article.banner {
    width: 100%;
    overflow: hidden;
}
section.room-banner .banner ul {
    width: 200%;
}
section.room-banner .banner li {
    width: 50%;
    float: left;
}
section.room-banner .banner li img {
    width: 100%;
    display: block;
}

.room-type .room-type-wrap {
    padding: 30px 0 30px;
    margin-bottom: 80px;
    text-align: center;
    border-bottom: 1px solid #999;
}

.room-type-wrap li a {
    font-family: "Lato", sans-serif;
    color: rgba(255,255,255,0.6);
    font-weight: 600;
    font-size: 28px;
    padding-left: 80px;
}
.room-type-wrap li.active a{
    text-decoration: underline;
    color: #f5f5f2;
}
.room-type-wrap li a:hover {
    text-decoration: underline;
    color: #f5f5f2;
}

/* 슬라이드 보여지는 공간 */
.room-type-box .img-wrap  {
    float: left;
    width: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    position: relative;
}
/* 담겨지는 공간 */
.room-type-box .img-wrap ul {
    width: 300%;
}
.room-type-box .img-wrap li {
    width: 33.33%;
    float: left;
}
.room-type-box .img-wrap li img {
    width: 100%;
    display: block;
}
.room-type-box .img-wrap button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.room-type-box .img-wrap button.prev {
    left: 3%;
}
.room-type-box .img-wrap button.next {
    right: 3%;
}
.room-type-box .img-wrap button img{
    width: 100%;
}
.room-type-box .des-wrap {
    float: right;
    width: 50%;
    padding-left: 40px;
    margin-top: 40px;
    box-sizing: border-box;
}
.des-wrap .des-box {
    margin-bottom: 80px;
}
.des-wrap .des-box h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}
.des-wrap .des-box h3 {
    font-size: 26px;
    margin-bottom: 50px;
    font-weight: 600;
}
.des-wrap .des-box p {
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 24px;
    font-weight: 400;
    color: rgba(255,255,255,0.8);
}

.des-wrap .reservation a {
    font-size: 18px;
    border: 2px solid #f5f5f2;
    border-radius: 10px;
    color: #f5f5f2;
    padding: 8px 32px;
}
.des-wrap .reservation a:hover {
    background-color: #B5C1BA;
    text-decoration: underline;
}

section.room-type_s25 .room-info {
    padding: 80px 60px 120px;
    box-sizing: border-box;
}
section.room-type_s25 .room-info h2 {
    font-size: 28px;
    margin-bottom: 50px;
    font-weight: 600;
}

section.room-type_s25 .room-info ul li {
    display: block;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
}
section.room-type_s25 .room-info ul li span {
    padding-left: 20px;
    font-size: 18px;
    opacity: 0.8;
}
section.room-type_s25 .room-info ul li span:first-child {
    display: inline-block;
    margin-left: 60px;
}